@import "tailwindcss";

:root {
  --morphing-text-color: #000000;
  --accent-color: #eaffa3;
  --letter-muted-color: #2d3834;
  --primary-color: #e5bdff;
}


/* Basic styling for full-page layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container for the full gradient background */
.gradient-background {
  /* Create a linear gradient from light to dark gray that spans the entire height */
  background: linear-gradient(to bottom, 
  rgba(252, 255, 225, 0.726) 0%,      /* Start fully transparent light gray */
  #628988ff 20%,     /* Become black at middle */
  #254945ff 50%,     /* Become black at middle */
  #09302aff 100% , 
  #09302aff 100%      /* Stay black till end */
), url(https://grainy-gradients.vercel.app/noise.svg);
}

.gradient-background2 {
  /* Create a linear gradient from light to dark gray that spans the entire height */
  background: linear-gradient(to bottom, 
  #b9a9b3ff 0%,      /* Start fully transparent light gray */
  #9d8693ff 20%,     /* Become black at middle */
  #67475bff 50%,     /* Become black at middle */
  #300924ff 100% , 
  #300924ff 100%      /* Stay black till end */
), url(https://grainy-gradients.vercel.app/noise.svg);
  
} 

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  font-weight: 1000;
  text-decoration: underline;
}

.header-text {
  font-size: 2rem;
  font-weight: 100;
}

.navbar-text {
  font-weight: 1000;
  font-size: 1.5rem;
  color: var(--primary-color); 
}

.navbar-text:hover {
  font-weight: 1000;
  color: var(--accent-color);
}

.content-text {
  font-weight: 100;
  line-height: normal;
  color: var(--primary-color);
}

.cjk-font {
  font-family: 'NotoSansCJK', sans-serif;
}

.latin-font {
  font-family: 'Syne', sans-serif;
}
