@import "tailwindcss";

:root {
  --morphing-text-color: #e4dfe3ff;
  --accent-color: #eaffa3;
  --letter-muted-color: #2d3834;
  --primary-color: #e5bdff;

  --gradient-begin-color: #47423eff;
  --gradient-middle-color: rgb(14, 0, 102);
  --gradient-end-color: rgb(0, 44, 37);

  --noise-opacity: 0.3;
}


/* Basic styling for full-page layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-anchor: none;
}

/* Container for the full gradient background */
.gradient-background {
  /* Create a linear gradient that completes within 100vh */
  background: 
    linear-gradient(to bottom,  
      var(--gradient-begin-color) 0vh,      /* Start color at top */
      var(--gradient-middle-color) 60vh,     /* Middle color at half viewport */
      var(--gradient-end-color) 100vh,       /* End color at full viewport */
      var(--gradient-end-color) 100%         /* Maintain end color for rest of content */
    );
  position: relative;
}

.gradient-background::before,
.fixed-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
  background-image: url('/noise.svg');
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: var(--noise-opacity);
  pointer-events: none;
  z-index: 1;
}

.fixed-background {
  background: var(--gradient-end-color);
  position: relative;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  font-weight: 1000;
  text-decoration: underline;
}

.header-text {
  font-size: 2rem;
  font-weight: 100;
}

.navbar-text {
  font-size: 1.5rem;
}

.content-text {
  font-weight: 100;
  line-height: normal;
  color: var(--primary-color);
}

.cjk-font {
  font-family: 'NotoSansCJK', sans-serif;
}

.latin-font {
  font-family: 'Syne', sans-serif;
}

button {
  color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  color: var(--accent-color);
  font-weight: 1000;
  text-decoration: underline;
}

.button-selected {
  color: var(--accent-color);
}
