.grid {
  width: 100%;
  right: 0;
}

.gridSizer {
  width: calc(33.333% - 20px);
}

.gridItem {
  width: calc(33.333% - 20px);
  margin: 20px 10px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .gridSizer,
  .gridItem {
    width: calc(50% - 20px);
  }
}

@media (max-width: 640px) {
  .gridSizer,
  .gridItem {
    width: calc(100% - 20px);
  }
} 