.grid {
  width: 100%;
  max-width: 100rem; /* max-w-6xl = 72rem */
  margin-left: auto;
  min-height: 31.25rem; /* 500px = 31.25rem */
}

.gridItem {
  width: 30%;
  right: 0;
  max-width: 300px;
  padding-right: 0rem;
}

.gridItem.expanded {
  display: block;
  width: 50%;
  z-index: 10;
  max-width: 600px;
}

.gridItem.expandedRight {
  position: fixed;
  margin-left: auto !important;
}
.expanded .imageContainer {
  box-shadow: 0 0 25px var(--accent-color);
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.gridItemInnerContainer {
  right: 0;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .gridSizer {
    width: calc(50%);
  }
  .gridItem {
    width: calc(50%);
  }
  .gridItem.expanded {
    width: 75%;
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .gridSizer {
    width: calc(50%);
  }
  .gridItem {
    width: calc(50%);
  }
  .gridItem.expanded {
    width: 100%;
    margin-left: 0;
  }
} 