:root {
  --mono: "MONO" 0.34;
  --casl: "CASL" 0.88;
  --wght: "wght" 1000;
  --slnt: "slnt" 0;
  --CRSV: "CRSV" 0.5;
  }

.container {
  filter: url(#threshold) blur(0.6px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  text-align: center;
  height: auto;
}


.text {
  position: absolute;
  font-weight: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
}