.container {
  filter: url(#threshold) blur(0.6px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  text-align: center;
  height: auto;
}

.text {
  position: absolute;
  font-weight: 1000;
  width: 100%;
  mix-blend-mode: overlay;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}